@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
  font-family: 'Noto Serif', serif;
  margin: 0;
  padding: 0
}

h1 {
  display: inline;
}

h3 {
  margin-left: 10px;
}

#hero-image {
  background-image: url("https://t3.ftcdn.net/jpg/03/32/03/74/360_F_332037411_OYdMrJ9QgR6QMymOPdvHA8yQfZXbOdyc.jpg");
  height: 300px;
  text-align: center;
}

.apartment-logo {
  display: inline;
  height: 15vh;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
}

.top-nav{
  height: 10vh;
  margin: 20px;
}

ul{
  list-style-type: none;
}

li, a {
  float: right;
  text-decoration: none;
  padding: 10px;
}

a {
  padding: 0;
  margin: 0;
}

.login {
  display: inline;
}

.home-title {
  color: white;
  font-size: 100px;
}

.main-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index-card {
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 210px;
  padding-top: 10px;
  background-color: #FFFAF1;
}
.card-button {
  margin-top: 60px;
}
.protected {
  height: 375px;
}
.show {
  height: 355px;
}
