@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
  font-family: 'Noto Serif', serif;
  margin: 0;
  padding: 0
}

h1 {
  display: inline;
}

h3 {
  margin-left: 10px;
}

#hero-image {
  background-image: url('https://na.rdcpix.com/1703884979/1661540c205ffdbba797eb63af107424w-c0xd-w640_h480_q80.jpg');
  height: 600px;
  text-align: center;
  opacity: 0.7
}

.apartment-logo {
  display: inline;
  height: 15vh;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
}

.top-nav{
  height: 10vh;
  margin: 20px;
}

ul{
  list-style-type: none;
}

li, a {
  float: right;
  text-decoration: none;
  padding: 10px;
}

a {
  padding: 0;
  margin: 0;
}

.login {
  display: inline;
}

.main-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index-card {
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  height: 220px;
  padding-top: 10px;
  background-color: #FFFAF1;
}
.card-button {
  margin-top: 60px;
}
.protected {
  height: 410px;
}
.show {
  height: 355px;
}
